.head-wrap {
    text-align:center;
    padding:30px 10px;
    background-color: rgba(45, 106, 79, 0.3);
    border-radius: 8px;
    margin-top: 50px;
}

.head-title {
    margin-bottom:5px;
}

.head-text {
    font-size:18px;
    color:#555;
}