body {
    background-color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.app-header {
    text-align: center;
    margin: 15px 0 25px 0;
}

.app-header h1 {
    margin-bottom: 5px;
    font-weight: 600;
}
.app-header p {
    color: #666;
    font-size: 17px;
}

section[data-testid="stSidebar"] {
    background-color: #ffffff;
    border-right: 1px solid #e5e5e5;
}

section[data-testid="stSidebar"] .css-1v3fvcr,
section[data-testid="stSidebar"] .css-qri22k {
    font-size: 16px;
    padding: 6px 0;
}

button, .stButton>button {
    border-radius: 6px;
}

.block-container {
    padding-top: 10px;
}

section[data-testid="stSidebar"] {
    background-color: #ffffff;
    padding-top: 20px;
    border-right: 1px solid #e5e5e5;
}

section[data-testid="stSidebar"] h2,
section[data-testid="stSidebar"] h3 {
    color: #444;
    font-weight: 600;
}

section[data-testid="stSidebar"] .css-1q8dd3e, 
section[data-testid="stSidebar"] .css-1v3fvcr {
    background: none;
}

section[data-testid="stSidebar"] .stRadio > label {
    font-size: 17px;
    color: #444;

}

section[data-testid="stSidebar"] .stRadio > div {
    gap: 6px;
}

/* section[data-testid="stSidebar"] .stRadio div[role="radiogroup"] > label[data-checked="true"] { */
section[data-testid="stSidebar"] label[data-checked="true"] {
    background-color: #e8f4e5;
    color: #2d6a4f;
    border-radius: 6px;
    padding: 6px 10px;
    font-weight: 600;
}

section[data-testid="stSidebar"] label:hover {
    background-color: #f4f4f4;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

section[data-testid="stSidebar"] .block-container {
    padding-left: 12px;
    padding-right: 12px;
}

/* head wrapper */
.head-wrap {
    text-align:center;
    padding:30px 10px;
    background-color: rgba(45, 106, 79, 0.3);
    border-radius: 8px;
    margin-top: 50px;
}

.head-title {
    margin-bottom:5px;
}

.head-text {
    font-size:18px;
    color:#555;
}

/* image style */
.stImage img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
}
